.cont{
    margin: 10px auto;
    width: 520px;
    background-color: rgba(211, 255, 255, 0.655);
    padding: 10px 25px;
    align-items: center;
    border: 1px solid greenyellow;
    font-family: sans-serif;
    text-align: center;
    border-radius: 11px;
}
input{
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 7px;
    border: none;
    outline: none;
}
button{
    padding: 10px 30px;
    background-color: purple;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 7px;
    margin-top:10px ;
    cursor: pointer;
    font-size: 18px;
}
p{
    font-size: 14px;
    margin: 7px;
}
.alert{
text-align: left;
margin-left: 13px;
background-color: rgb(58, 212, 71);
padding: 3px;
border-radius: 7px;
align-items: center;
}
.d-none{
    display: none;
}